<!DOCTYPE html>
<html lang="en">
<head>
    <% include header %>
</head>
<body>
<% include navbar %>
<div class="container">
    <h2>About us</h2>
    <h4>
        <blockquote>Our mission: deliver the best products at the best price with the best service.</blockquote>
        <br>
        Have feedback you would like to send us? Make an entry in the guestbook.<br>
    </h4>
    <h3>Security</h3>
    <h4>We take your security very seriously. It is for that reason that we have passed our code by all major security
        audit companies leading the field today (MoonCrater Inc, MarsTests Ltd, etc.). Instead of the old "penetration
        testing" method, these companies choose for the far more progressive and effective "passive testing" method.
        This innovative method takes aggressiveness out of the approach and looks at what the user should be able to do
        with the application, instead of what he shouldn't be able to.<br><br>
        So rest assured, your data is safe with us.</h4>
</div>
<% include footer %>
</body>
</html>