<!DOCTYPE html>
<html lang="en">
<head>
    <% include header %>
</head>
<body>
<% include navbar %>
<div class="container">
    <h2>You can always reach us at our corporate headquarters </h2>
    <h3>Crap Store<br>
        42 Crater Street <br>
        The Moon
    </h3>
    <h3>Phone: +314 (159) 265 358 979 323 846</h3>
    <p>You can get there via any standard means of public transport, we recommend our partners at SpaceY. </p>
</div>
<% include footer %>
</body>
</html>