<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h4>SUPPLIERS</h4>
                <ul>
                    <li><a href="procedures">PROCEDURES</a></li>
                    <li><a href="documents/contract.pdf" target="_blank">CONTRACT</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>CRAPSTORE</h4>
                <ul>
                    <li><a href="about">ABOUT US</a></li>
                    <li><a href="contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
        <p class="pull-right">CrapStore v0.2 - Copyright &copy; 2016<br>
        <em>This is an educational penetration testing tool, please <strong>do not</strong> enter sensitive information of any kind. Read the manual for a full disclaimer.</em></p>
    </div>
</footer>