<div class="form-group">
    <label for="hint-select">What is your favorite color?</label>
    <select name="hint" id="hint-select" class="form-control pull-right">
        <option value="blue">Blue</option>
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="orange">Orange</option>
        <option value="pink">Pink</option>
    </select>
</div>