<!DOCTYPE html>
<html lang="en">
<head>
    <% include header %>
</head>
<body>
<% include navbar %>
<div class="splash-main container">
    <div class="jumbotron">
        <img class="logo-large pull-right" src="images/logo_large.png">
        <h1>Anything you'd like</h1>
        <p>At sharp prices and with great shipping service</p>
        <a class="btn btn-lg btn-primary" href="products" role="button">Go to our shop &raquo;</a>
    </div>
</div>
<% include footer %>
</body>
</html>