<!DOCTYPE html>
<html lang="en">
<head>
    <% include header %>
</head>
<body>
<% include navbar %>
<div class="container">
    <h2>Procedures for Suppliers</h2>
    <h4>We've made it super easy for you to add new products. Just send us a USB stick with your new product assets,
        protected within a radiation-proof, anti-vacuum and self-heated container, via standard astronaut mail. We'll
        take care of it in a couple of business days.</h4>
    <h4>Not a supplier yet? Have a revolutionary product that belongs on our shelves? <br>
        Become a supplier today by sending us a signed copy of the contract as well as the assets of your products
        (images, titles, descriptions and prices). Complete your application by heading over to the account page and
        following the listed steps.</h4>
</div>
<% include footer %>
</body>
</html>