<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../header %>
</head>
<body>
<% include ../navbar %>
<div class="container">
    <form class="login" id="register-form">
        <div class="form-group">
            <label for="name-input">Name</label>
            <input id="name-input" type="text" name="name" class="form-control" placeholder="Name" autofocus required>
        </div>
        <div class="form-group">
            <label for="email-input">Email</label>
            <input id="email-input" type="email" name="email" class="form-control" placeholder="Email address" required>
        </div>
        <div class="form-group">
            <label for="password-input">Password</label>
            <input id="password-input" type="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <% include ../hintselect %>
        <button class="register-btn btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <label>Already registered?</label>
        <a class="forgot-pass pull-right" href="login"><strong>Login</strong></a>
    </form>
</div>
<% include ../footer %>
</body>
</html>